body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, #first, .footer {
    background-color: #1F2937;
}

.header a, .intro p, button {
    font-size: 18px;
    color: #F9FAF8;
}

.header {
    font: Roboto;
    background-color: #1F2937;
    margin: 0;
    padding: 0px 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    text-wrap: nowrap;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.product {
    height: 295px;
    width: 442px;
    flex-grow: 0;
}

.tier {
    margin: 0;
    padding: 0;
    display: flex;
}

#first {
    padding: 100px 300px;
    justify-content: space-between; 
    align-items: center;
    gap: 48px;
}

.intro {
    width: 350px;
    flex-shrink: 0;
}

.intro h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

#second {
    flex-direction: column;
    align-items: center;
}

#second h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 1em;
}

.illustrations {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.info {
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    text-align: center;
}

.info img {
    height: 200px;
    width: 200px;
    border: 4px solid #3885f6;
    border-radius: 8px;
}

#third {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 150px 300px;
}

#third blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    text-wrap: wrap;
}

#third p {
    font-weight: bold;
    display: flex;
    justify-content: end;
}

#fourth {
    margin: 75px 150px;
    padding: 48px 96px;
    background-color: #3885f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.left {
    color: #F9FAF8;
    font-weight: 100;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: bold;
    font-size: 20px;
    margin: 0px 0px 8px;
}

.text {
    margin: 0;
    padding: 0;
}

.right button {
    border: 2px solid #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    text-decoration: none;
    font-weight: lighter;
}

button {
    width: 132px;
    background-color: #3885f6;
    border-style: none;
    border-radius: 8px;
    padding: 8px;
    flex-wrap: nowrap;
}